<div>
  <p>Hi <%= user.name%></p>
  <p>To Reset Password Click on the Link Given below!!!</p>
  <a href="http://localhost:8000/forgotPassword/reset/?acess_token=<%= token%>"
    >http://localhost:8000/forgotPassword/reset/?acess_token=<%= token%></a
  >
</div>
