<div>
  <p>Hi</p>
  <p>To Reset ToDo List App Password Click on the Link Given below!!!</p>
  <a
    href="http://todolistnitesh.herokuapp.com/forgotPassword/reset/?acess_token=<%= token%>"
    >click here</a
  >
  <p>please don't share this link with anyone</p>
</div>
