<%- include("header2")-%>
<!-- <%- include('headerauth') %> -->

<form action="/forgotPassword" method="POST">
  <input
    style="border: 1px solid black; padding: 0px"
    class="input"
    type="text"
    name="email"
    placeholder="Enter yoyur email"
  />
  <button type="submit">Send link</button>
</form>
<%- include("footer2")-%>
<!-- <%- include('footerauth') %> -->
